#prize-add prize-wangyunqing-20181110-start
source "drivers/misc/prize/hardware_info/Kconfig"
#prize-add prize-wangyunqing-20181110-end

#/*prize add by zhuzhengjiang for camera ldo wl2868c 20220309  start*/ 
source "drivers/misc/prize/wl2868c/Kconfig"
#/*prize add by zhuzhengjiang for camera ldo wl2868c 20220309  end*/ 

